@use '_variables';

// Links
a {
    text-decoration: underline;
    color: variables.$text-orange;
}

a:hover {
    cursor: pointer;
    color: variables.$text-bone;
}

a:active, a:visited {
    color: variables.$text-bone;
}

// Lists
ul, .ul-disc {
    list-style: disc;
    margin-left: 1rem;
}

.ul-circle {
    list-style: circle;
}

.ul-squire {
    list-style: square;
}

.ul-none {
    list-style: none;
}

ol, .ol-decimal {
    list-style: decimal;
    margin-left: 1rem;
}

.ol-roman {
    list-style: upper-roman;
}

.ol-alpha-lower {
    list-style: lower-alpha;
}

.ol-alpha-upper {
    list-style: upper-alpha;
}

// background color
.bg-black {
    background-color: variables.$bg-black;
}
.bg-dark {
    background-color: variables.$bg-dark;
}
.bg-orange {
    background-color: variables.$bg-orange;
}
.bg-gray {
    background-color: variables.$bg-gray;
}
.bg-bone {
    background-color: variables.$bg-bone;
}

// border
.rounded-0 {
    border-radius: 0;
}
.rounded-1 {
    border-radius: 0.125rem;
}
.rounded-2 {
    border-radius: 0.25rem;
}
.rounded-3 {
    border-radius: 0.5rem;
}
.rounded-10 {
    border-radius: 10%;
}
.rounded-50 {
    border-radius: 50%;
}
// border width
.border-0 {
    border-width: 0;
}
.border-1 {
    border-width: 1px;
}
.border-2 {
    border-width: 2px;
}
.border-3 {
    border-width: 3px;
}
// border color
.border-color-black {
    border-color: variables.$text-black;
}
.border-color-dark {
    border-color: variables.$text-dark;
}
.border-color-orange {
    border-color: variables.$text-orange;
}
.border-color-gray {
    border-color: variables.$text-gray;
}
.border-color-bone {
    border-color: variables.$text-bone;
}

// border style
.border-style-solid {
    border-style: solid;
}
.border-style-dashed {
    border-style: dashed;
}
.border-style-double {
    border-style: double;
}
.border-style-dotted {
    border-style: dotted;
}
