@use '_variables';

// Links
a {
    text-decoration: underline;
    color: variables.$text-orange;
}

a:hover {
    cursor: pointer;
    color: variables.$text-bone;
}

a:active, a:visited {
    color: variables.$text-bone;
}

// 