@use 'variables';

// Headings
h1 {
    font-size: $font-3x;
    font-weight: $font-extrabold;
    margin-bottom: $font-md;
}

h2 {
    font-size: $font-2x;
    font-weight: $font-bold;
    margin-bottom: $font-md;
}

h3 {
    font-size: $font-xl;
    font-weight: $font-semibold;
    margin-bottom: $font-md;
}

h4 {
    font-size: $font-lg;
    font-weight: $font-medium;
    margin-bottom: $font-md;
}

h5 {
    font-size: $font-md;
    font-weight: $font-medium;
    margin-bottom: $font-md;
}

h6 {
    font-size: $font-sm;
    font-weight: $font-regular;
    margin-bottom: $font-sm;
}

// Paragraphs
p {
    font-size: $font-md;
    line-height: $line-height-3; 
    margin-bottom: $font-md; 
}