//Font Sizes
$font-xs: 0.8rem;
$font-sm: 0.9rem;
$font-md: 1rem;
$font-lg: 1.2rem;
$font-xl: 1.5rem;
$font-2x: 2rem;
$font-3x: 3rem;
$font-4x: 4rem;
$font-5x: 5rem;

// Letter Spacing
$letter-spacing: 0.1rem;
$letter-spacing-sm: 0.15rem;
$letter-spacing-md: 0.2rem;
$letter-spacing-lg: 0.2rem;
$letter-spacing-xl: 0.3rem;

// Line Height 
$line-height: 1.6;
$line-height-sm: 1.8;
$line-height-md: 2;
$line-height-lg: 2.2;
$line-height-xl: 2.4;