@use 'variables';

// Headings
h1 {
    font-size: variables.$font-3x;
    font-weight: variables.$font-extrabold;
    margin-bottom: variables.$font-md;
}

h2 {
    font-size: variables.$font-2x;
    font-weight: variables.$font-bold;
    margin-bottom: variables.$font-md;
}

h3 {
    font-size: variables.$font-xl;
    font-weight: variables.$font-semibold;
    margin-bottom: variables.$font-md;
}

h4 {
    font-size: variables.$font-lg;
    font-weight: variables.$font-medium;
    margin-bottom: variables.$font-md;
}

h5 {
    font-size: variables.$font-md;
    font-weight: variables.$font-medium;
    margin-bottom: variables.$font-md;
}

h6 {
    font-size: variables.$font-sm;
    font-weight: variables.$font-regular;
    margin-bottom: variables.$font-sm;
}

// Paragraphs
p {
    font-size: variables.$font-md;
    line-height: variables.$line-height-3; 
    margin-bottom: variables.$font-md; 
}

.align-text-left
{
    text-align: left;
}

.align-text-center
{
    text-align: center;
}

.align-text-right
{
    text-align: right;
}

.align-text-justify
{
    text-align: justify;
}

.align-text-start
{
    text-align: start;
}

.align-text-end
{
    text-align: end;
}

.text-decoration-underline
{
    text-decoration: underline;
}

.text-decoration-overline
{
    text-decoration: overline;
}

.text-decoration-middleline
{
    text-decoration: line-through;
}

.text-decoration-none
{
    text-decoration: none;
}