// All variables go here
$bg-black: #2b2b2b;
$bg-dark: #545454;
$bg-orange: #ff914d;
$bg-gray: #99aaaf;
$bg-bone: #d2ccbe;

$text-black: #2b2b2b;
$text-dark: #545454;
$text-orange: #ff914d;
$text-gray: #99aaaf;
$text-bone: #d2ccbe;