// All variables go here
// background colors
$bg-black: #2b2b2b;
$bg-dark: #545454;
$bg-orange: #ff914d;
$bg-gray: #99aaaf;
$bg-bone: #d2ccbe;
$bg-white: #fff;

// text colors
$text-black: #2b2b2b;
$text-dark: #545454;
$text-orange: #ff914d;
$text-gray: #99aaaf;
$text-bone: #d2ccbe;
$text-white: #fff;

// border colors
$border-yellow: #FFDE59;
$border-orange: #FF914D;

// sizes
$screen-sm: 640px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1280px;
$screen-xxl: 1563px;

// Typography
$font-montserrat: 'Montserrat', sans-serif;
$text-lg: 66px;
$text-md: 36px;
$text-reg: 18px;
$text-sm: 14px;
$text-xs: 10px;

// Font Sizes
$font-xs: 0.8rem;
$font-sm: 0.9rem;
$font-md: 1rem;
$font-lg: 1.2rem;
$font-xl: 1.5rem;
$font-2x: 2rem;
$font-3x: 3rem;
$font-4x: 4rem;
$font-5x: 5rem;

//Font Styles
$font-style-normal: normal;
$font-style-bold: bold;
$font-style-italic: italic;

// Letter Spacing
$letter-spacing-1: 0.1rem;
$letter-spacing-2: 0.15rem;
$letter-spacing-3: 0.2rem;
$letter-spacing-4: 0.2rem;
$letter-spacing-5: 0.3rem;

// Line Height 
$line-height-1: 1.6;
$line-height-2: 1.8;
$line-height-3: 2;
$line-height-4: 2.2;
$line-height-5: 2.4;

// Font Weights
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
$font-extrabold: 800;
$font-black: 900;

// Spacing
$spacing-unit: 1rem;
$spacing-0: 0;
$spacing-1: $spacing-unit * 0.25;
$spacing-2: $spacing-unit * 0.5;
$spacing-3: $spacing-unit;
$spacing-4: $spacing-unit * 1.5;
$spacing-5: $spacing-unit * 3;

