@use 'variables';

/* Layout */

/* Flexbox & Grid */

/* Spacing */
// All direction paddinig
.p-0 {
    padding: 0;
}
.p-1 {
    padding: 0.125rem;
}
.p-2 {
    padding: 0.25rem;
}
.p-3 {
    padding: 0.5rem;
}
.p-4 {
    padding: 0.55rem;
}
.p-5 {
    padding: 1rem;
}

// x-axis padding
.px-0 {
    
}
.px-1 {

}
.px-2 {

}
.px-3 {

}
.px-4 {

}
.px-5 {

}

// y-axis padding
.py-0 {
    
}
.py-1 {

}
.py-2 {

}
.py-3 {

}
.py-4 {

}
.py-5 {

}

// top paddinig
.pt-0 {
    
}
.pt-1 {

}
.pt-2 {

}
.pt-3 {

}
.pt-4 {

}
.pt-5 {

}

// right paddinig
.pr-0 {
    
}
.pr-1 {

}
.pr-2 {

}
.pr-3 {

}
.pr-4 {

}
.pr-5 {

}

// bottom paddinig
.pb-0 {
    
}
.pb-1 {

}
.pb-2 {

}
.pb-3 {

}
.pb-4 {

}
.pb-5 {

}

// All direction margin
.m-0 {
    
}
.m-1 {

}
.m-2 {

}
.m-3 {

}
.m-4 {

}
.m-5 {

}

// x-axis margin
.mx-0 {
    
}
.mx-1 {

}
.mx-2 {

}
.mx-3 {

}
.mx-4 {

}
.mx-5 {

}

// y-axis margin
.my-0 {
    
}
.my-1 {

}
.my-2 {

}
.my-3 {

}
.my-4 {

}
.my-5 {

}

// top margin
.mt-0 {
    
}
.mt-1 {

}
.mt-2 {

}
.mt-3 {

}
.mt-4 {

}
.mt-5 {

}

// right margin
.mr-0 {
    
}
.mr-1 {

}
.mr-2 {

}
.mr-3 {

}
.mr-4 {

}
.mr-5 {

}

// bottom margin
.mb-0 {
    
}
.mb-1 {

}
.mb-2 {

}
.mb-3 {

}
.mb-4 {

}
.mb-5 {

}

// left margin
.ml-0 {
    
}
.ml-1 {

}
.ml-2 {

}
.ml-3 {

}
.ml-4 {

}
.ml-5 {

}

// Space between children
.flex {

    .space-x-0 {

    }
    .space-x-1 {

    }
    .space-x-2 {

    }
    .space-x-3 {

    }
    .space-x-4 {

    }
    .space-x-5 {

    }
    // space-y-* to be added
}

/* Sizing */
// Width
// Absoulute width
.w-0 {

}

.w-1 {

}

.w-2 {

}

.w-3 {

}

.w-4 {

}

// Percentage width

/* Typography */
.text-orange {
    color: variables.$text-orange;
}

/* Backgrounds */
.bg-black {
    background-color: variables.$bg-black;
}

/* Borders */

/* Effects */

/* Filters */

/* Tables */

/* Forms */

/* Lists */